<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/assets/logo.png" type="image/png" />
    <link rel="stylesheet" href="/css/login.css" />
    <title>Login</title>
  </head>
  <body>
    <form id="loginForm">
      <div class="form-group">
        <h2>Sign in with email</h2>
        <input
          type="email"
          name="email"
          id="email"
          required
          placeholder="Email"
        />
        <input
          type="password"
          name="password"
          id="password"
          required
          placeholder="Password"
        />
        <button type="submit">Sign in</button>
        <p>Don't have an account? <a href="/register">Create one</a></p>
        <p><a href="/" class="guest-link">Continue as Guest →</a></p>
        <p id="message"></p>
      </div>
    </form>

    <script>
      const form = document.getElementById("loginForm");
      form.addEventListener("submit", async (e) => {
        e.preventDefault();

        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;

        try {
          const res = await fetch("/users/login", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ email, password }),
          });

          const data = await res.json();

          if (res.ok) {
            localStorage.setItem("token", data.token); // store JWT
            document.getElementById("message").innerText = "Login successful!";
            // redirect to home page
            window.location.href = "/";
          } else {
            document.getElementById("message").innerText = data.message;
          }
        } catch (err) {
          document.getElementById("message").innerText =
            "Something went wrong!";
        }
      });
    </script>
  </body>
</html>
