body {
  font-family: "Ubuntu", Arial, sans-serif;
  background: #f9f9f9;
  padding: 20px;
  margin: 0;
}

button {
  background: #23232c;
  color: #fff;
  border: none;
  cursor: pointer;
  width: auto;
  padding: 12px;
  border-radius: 8px;
}

button:hover {
  background: #44444f;
}

label {
  font-size: small;
  color: darkslategray;
}

textarea {
  padding: 10px;
}

.post-title,
.post-content {
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  border: none;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 1px lightslategray;
}

.post-title:focus {
  outline: none;
  box-shadow: 0 0 5px lightslategray;
}

.post-content:focus {
  outline: none;
  box-shadow: 0 0 5px lightslategray;
}

.upload-btn {
  margin-top: 10px;
  display: inline-block;
  padding: 12px 16px;
  background: #23232c;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s ease;
}

.upload-btn:hover {
  background: #3a3a45;
}

#createPostForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
}
